@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    color: #133;
    font-family: 'Inter', serif;
}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
}

h2 {
    margin: 20px 10px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    color: #2C2B2B;
}

h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #2C2B2B;
}


h1 {
    font-family: 'Poiret One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

a,
h4 {
    color: #2C2B2B;
    font-weight: 700;
    font-size: 26px;
}

h4 {
    line-height: 1;
}

a {
    text-align: center;
    line-height: 31px;
}

a:hover,
.active{
    color: #666a70;
}

article {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-decimal {
    list-style-type: decimal;
}

